.home-grid-container-banner {
  height: 70vh;
}

.home-banner {
  margin: 3rem;
}

.home-img {
  border-radius: 1rem;
}

.home-cards {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2.5rem;
}

.home-card {
  display: flex;
  flex-direction: column;
  color: $primary-color;
  width: 22.5rem;
  padding: 2rem;
  border: 2px solid $primary-color;
}

.home-card-header {
  margin-top: 0rem;
  margin-bottom: 0.25rem;
}

.home-card-text {
  color: $primary-color;
}

.home-card-title-center {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  max-width: 45rem;
  margin-left: auto;
  margin-right: auto;
}
