@mixin btn($color, $text) {
  @extend .br-sm, .py-5, .px-6;
  font-size: rem(16);
  transition: $default-transition;
  border: 0;
  color: $text;
  &:not([disabled]) {
    // styles render only when disabled={false}
    background-color: $color;
    cursor: pointer;
    &:hover {
      background-color: darken($color, 5%);
    }

    &:active {
      background-color: darken($color, 10%);
    }
  }

  // styles render when disabled={true}
  &:disabled {
    background-color: transparentize($color, 0.7);
    cursor: not-allowed;
  }
}

.btn-primary {
  @include btn($primary-color, white);
}

.btn-secondary {
  @include btn($secondary-color, black);
}
